<% layout('layouts/boilerplate') %>
<h1>Lead Details</h1>
<h3>Lead Status:</h3>
<p><%= lead.status %></p>
<h3>Request Summary:</h3>
<p><%= lead.request_summary %></p>
<h3>Request Details:</h3>
<p><%= lead.request_details %></p>
<h3>Request Contact Name:</h3>
<p><%= lead.contact_name %></p>
<h3>Location Address 1:</h3>
<p><%= lead.location_address_1 %></p>
<h3>Location Address 2:</h3>
<p><%= lead.location_address_2 %></p>
<h3>Location City:</h3>
<p><%= lead.location_city %></p>
<h3>Location State:</h3>
<p><%= lead.location_state %></p>
<h3>Location Address 2:</h3>
<p><%= lead.location_zip %></p>
